<!-- <div class="add__person">
    <form class="form">
        <label for="name">Nombre</label>
        <input type="text" id="name" [(ngModel)]="persona.nombre">
    
        <label for="surname">Apellidos</label>
        <input type="text" id="surname">
    
        <label for="address">Dirección</label>
        <input type="text" id="address">
    
        <label for="phone">Teléfono</label>
        <input type="text" id="phone">
    
        <button (click)="addPerson()" type="submit">Añadir persona</button>
    </form>
</div> -->

<div class="personas">
    <div class="persona" *ngFor="let persona of personas">
        <h3>{{persona.nombre}} {{persona.apellidos}}</h3>
        <p>{{persona.calle}}</p>
        <p>{{persona.telefono}}</p>
    </div>
</div>
