<div class="calculator">
    <p class="concatenar__result">{{concatResultado}}</p>
    <div class="numbers__buttons">
        <button (click)="onClickNumber($event)">1</button>
        <button (click)="onClickNumber($event)">2</button>
        <button (click)="onClickNumber($event)">3</button>
        <button (click)="onClickNumber($event)">4</button>
        <button (click)="onClickNumber($event)">5</button>
        <button (click)="onClickNumber($event)">6</button>
        <button (click)="onClickNumber($event)">7</button>
        <button (click)="onClickNumber($event)">8</button>
        <button (click)="onClickNumber($event)">9</button>
        <button (click)="onClickNumber($event)">0</button>
    </div>
    <div class="calc__buttons">
        <button (click)="onClickNumber($event)">+</button>
        <button (click)="onClickNumber($event)">-</button>
        <button (click)="onClickNumber($event)">*</button>
        <button (click)="onClickNumber($event)">/</button>
        <button (click)="onResultado()">=</button>
    </div>
    
</div>
