.paises{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .pais{
        width: 130px;
        border: 1px solid black;
        margin: 5px;
        padding: 5px;
        img{
            width: 100%;
        }
        h1{
            font-size: 20px;
        }
    }
}