<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" formControlName="nombre">
        <div class="error" *ngIf="formulario.controls.nombre.errors?.required && formulario.controls.nombre.touched">
            El campo nombre es requerido.
        </div>
        <div class="error" *ngIf="formulario.controls.nombre.errors?.minlength && formulario.controls.nombre.touched">
            El campo debe tener al menos {{formulario.controls.nombre.errors.minlength.requiredLength}} caracteres.
        </div>
    </div>
    <div class="form-group">
        <label>Apellidos</label>
        <input type="text" class="form-control" formControlName="apellidos">
        <div class="error" *ngIf="formulario.controls.apellidos.errors?.maxlength && formulario.controls.apellidos.touched">
            El campo apellidos no puede tener más de {{formulario.controls.apellidos.errors.maxlength.requiredLength}} caracteres
        </div>
    </div>
    <div class="form-group">
        <label>Edad</label>
        <input type="text" class="form-control" formControlName="edad" >
        <div class="error" *ngIf="formulario.controls.edad.errors?.edadValidator && formulario.controls.edad.touched">
            La edad debe estar entre {{formulario.controls.edad.errors.edadValidator.min}} y {{formulario.controls.edad.errors.edadValidator.max}} años.
        </div>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" formControlName="email">
        <div class="error" *ngIf="formulario.controls.email.errors && formulario.controls.email.touched">
            El campo email es erroneo, introduzca un formato correcto.
        </div>
    </div>
    <div class="form-group">
        <label>DNI</label>
        <input type="text" class="form-control" formControlName="dni">
        <div class="error" *ngIf="formulario.controls.dni.errors && formulario.controls.dni.touched">
            {{formulario.controls.dni.errors.dniValidator}}
        </div>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="text" class="form-control" formControlName="password">
    </div>
    <div class="form-group">
        <label>Repite Password</label>
        <input type="text" class="form-control" formControlName="repite_password">
    </div>
    <input type="submit" value="Enviar" class="btn btn-block btn-success" [disabled]="!formulario.valid">
</form>

<!-- <div>
    <p>Valido: {{ formulario.valid }}</p>
    <p>Invalido: {{ formulario.invalid }}</p>
    <p>Dirty: {{ formulario.dirty }}</p>
    <p>Untouched: {{ formulario.untouched }}</p>
</div> -->

