.header{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid yellow;
    .header__logo{
        margin-bottom: 35px;
        .img{
            width: 320px;
            border: 1px solid yellow;
            @media all and (min-width: 768px){
                width: 622px;
                height: 202px;
            }
        }
    }
}